
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
.logo-text{
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
}


.btn-connect{
    box-shadow: rgba(204, 19, 236, 0.46) 0px 0px 52px 0px;
    border: none;
    color: rgb(215, 224, 255);
    font-size: 18px;
    font-weight: 600;
    width: 180px;
    height: 50px;
    font-family: 'Rubik', sans-serif;
    /* padding: 14px 20px; */
    border-radius: 100px ;
    background: radial-gradient(at -17% 291%, rgb(0, 232, 252) 0%, rgb(79, 48, 255) 60%, rgb(240, 15, 142) 95%, rgb(255, 0, 0) 100%), linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
.btn-Stake{
    box-shadow: rgba(204, 19, 236, 0.46) 0px 0px 52px 0px;
    border: none;
    color: rgb(215, 224, 255);
    font-size: 16px;
    font-weight: 600;
    width: 280px;
    height: 50px;
    font-family: 'Rubik', sans-serif;
    border-radius: 100px ;
    background: radial-gradient(at -17% 291%, rgb(0, 232, 252) 0%, rgb(79, 48, 255) 60%, rgb(240, 15, 142) 95%, rgb(255, 0, 0) 100%), linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
.btn-unstake{
  background-color: rgb(0, 232, 252);
    font-size: 16px;
}
.btn-unstake:hover{
  background-color: rgb(0, 232, 252);
    font-size: 16px;
}
.btn-stake-active {
    box-shadow: rgba(204, 19, 236, 0.46) 0px 0px 52px 0px;
    border: none;
    color: rgb(4, 4, 4);
    font-size: 16px;
    font-weight: 600;
    width: 280px;
    height: 50px;
    font-family: 'Rubik', sans-serif;
    border-radius: 100px ;
    background: rgb(0, 200, 220)
}
.btn-approve{
    background: rgb(0, 200, 220);
    border-radius: 100px ;
    color: rgb(4, 4, 4);
    font-size: 18px;
    font-weight: 600;
}
.btn-approve:hover{
    background: rgb(0, 200, 220);
    border-radius: 100px ;
    color: rgb(4, 4, 4);
    font-size: 18px;
    font-weight: 600;
}
.btn-stake-active:hover {
    box-shadow: rgba(204, 19, 236, 0.46) 0px 0px 52px 0px;
    border: none;
    color: rgb(4, 4, 4);
    font-size: 16px;
    font-weight: 600;
    width: 280px;
    height: 50px;
    font-family: 'Rubik', sans-serif;
    border-radius: 100px ;
    background: rgb(0, 200, 220)
}

.box-width{
    background: rgba(215, 224, 255, 0.116);
    border-radius: 30px ;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    width: 24%;
}
.token-supply{
    font-size: 15px;
    font-weight: 600;
    color: rgb(215, 224, 255)
}
.token-supply-h4{
  font-family: 'Rubik', sans-serif;
  font-size: 21px;
    font-weight: 600;
    color: #aaaaaa
}
.token-supply-value{
    font-size: 15px;
    font-weight: 500;
    color: rgb(215, 224, 255)
}

.down-boxWIwith{
    /* margin: 40px auto 30px; */
    padding: 10px 20px 30px;
    background: rgba(215, 224, 255, 0.178);
    border-radius: 30px;
}
.down-boxWIwith-town{
    margin: 40px auto 30px;
    /* padding: 10px 20px 30px; */
}

.bePqrO {
    /* width: 100%; */
    height: 50px;
    padding: 0px;
    border-radius: 200px;
    position: relative;
    background: rgba(68, 72, 87);
    margin: auto auto 20px;
    cursor: pointer;
    user-select: none;
}

.OFFdK{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: left;
    color: rgb(245, 245, 245);
    width: calc(100% - 30px);
    height: 100%;
    padding: 0px 15px;
    margin: 0px;
    border: none;
    border-radius: 200px;
    background: transparent;
}

.OFFdK:focus {
    border: transparent !important;
    outline: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
  }


/* loading */
.load-wrapp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d857;
  }
  
  .load-wrapp:last-child {
    margin-right: 0;
  }
  
  .spinner {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
  }
  
  .bubble-1,
  .bubble-2 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #4b9cdb;
  }
  
  .bubble-2 {
    top: auto;
    bottom: 0;
  }
  
  .load-9 .spinner {
    animation: loadingI 2s linear infinite;
  }
  
  .load-9 .bubble-1,
  .load-9 .bubble-2 {
    animation: bounce 2s ease-in-out infinite;
  }
  
  .load-9 .bubble-2 {
    animation-delay: -1s;
  }
  
  @keyframes loadingI {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  .iQecjR {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #aaaaaa;
    text-transform: uppercase;
    margin-top: 0px;
    font-family: 'Rubik', sans-serif;
}
.ikqSPh {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 0.5px solid;
  border-image: linear-gradient(100.73deg, rgb(65, 63, 255) -0.17%, rgb(0, 232, 255) 23.82%, rgb(233, 22, 203) 56.09%, rgba(0, 0, 0, 0) 121.96%) 1 / 1 / 0 stretch;
}
.th--color{
  background: transparent !important;
  color: #fff !important;
  border-bottom: 1px solid  #ffffff;
}
.th--color-tr{
  background-color: #192734 !important;
  color: #fff !important;
  border: 1px solid  #223445;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
@media(max-width: 768px){
    .btn-connect, .btn-Stake{
        box-shadow: rgba(204, 19, 236, 0.46) 0px 0px 52px 0px;
        border: none;
        color: rgb(215, 224, 255);
        font-size: 18px;
        font-weight: 600;
        width: 98%;
        margin-top:  15px;
        height: 50px;
        font-family: 'Rubik', sans-serif;
        /* padding: 14px 20px; */
        border-radius: 100px ;
        background: radial-gradient(at -17% 291%, rgb(0, 232, 252) 0%, rgb(79, 48, 255) 60%, rgb(240, 15, 142) 95%, rgb(255, 0, 0) 100%), linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
    }
    .btn-stake-active {
        box-shadow: rgba(204, 19, 236, 0.46) 0px 0px 52px 0px;
        border: none;
        color: rgb(215, 224, 255);
        font-size: 18px;
        font-weight: 600;
        width: 98%;
        height: 50px;
        font-family: 'Rubik', sans-serif;
        border-radius: 100px ;
        background: rgb(0, 200, 220)
    }
    .box-width{
        background: rgba(215, 224, 255, 0.116);
        border-radius: 30px ;
        padding: 20px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Rubik', sans-serif;
        width: 98%;
    }
}